@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao seu novo portal SIINAT </h1>
    <p>Oque vem de novo agora ? um novo portal com uma cara nova, com um banco de dados mais moderno<br />
        escrito e projetado para fazer rápidas consultas ao banco de dados e retorna dados em questões de segundos !<br />
        Experimente agora o novo portal</p>
</div>

